<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Contact - Fredrick Alli</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <a href="/" class="logo">Fredrick Alli</a>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </div>
  </nav>

  <header class="hero-section">
    <div class="container hero-content">
    <img src="{{ url_for('static', filename='images/Fredrick_Alli_photo.jpeg') }}" alt="Fredrick Alli" class="profile-picture"> 
      <h1>Contact Me</h1>
    </div>
  </header>

  
  <main class="contact-section" style="margin-top: 2rem;">
    <div class="container">
      <h1>How Can We Assist You?</h1>
      
      <!-- Contact Info (Email + Social Media) -->
      <div class="contact-info">
        <p><strong>Email:</strong> <a href="mailto:allfired18@gmail.com">allifred18@gmail.com</a></p>
        <div class="social-media">
          <a href="https://www.linkedin.com/in/fredrick-alli-ab8192206/" target="_blank">LinkedIn</a>
          <a href="https://github.com/Falli007"  target="_blank">GitHub</a>
        </div>
      </div>

  <!-- Contact Form -->
  <form action="/send_message" method="POST" class="contact-form">
    <div class="form-row">
      <label for="first_name">First Name</label>
      <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
    </div>
    <div class="form-row">
      <label for="last_name">Last Name</label>
      <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
    </div>
    <div class="form-row">
      <label for="email">Email *</label>
      <input type="email" id="email" name="email" placeholder="Your Email" required>
    </div>
    <div class="form-row">
      <label for="message">Message</label>
      <textarea id="message" name="message" rows="5" placeholder="Your message here..." required></textarea>
    </div>
    <button type="submit" class="btn">Send</button>
  </form>
</div>
</section>

  <footer class="footer">
    <div class="container footer-content">
      <p>&copy; 2025 Fredrick Alli. All Rights Reserved.</p>
      <ul class="social-links">
        <li><a href="https://www.linkedin.com/in/fredrick-alli-ab8192206/" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/Falli007" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
